/*header*/
header {
    height: 70px;
    background-color: white;
}

#small-logo {
    width: 40px;
}

.bg-gray {
    background-color: #E5E5E5;
}

.fa-bell {
    color: #FF8F00;
}

/*MAIN*/
main {
    height: calc(100vh - 70px)
}

/*sidebar*/
.sidebar {
    background-image: url(/img/sidebar-bg.png);
    background-size: cover;
    background-color: #051E34;
    flex-basis: 80px;
    flex-shrink: 0;
    padding: 20px 0;

}

.bg-pils-boolean {
    background-color: #165BBA;
}

.fa-square-plus {
    vertical-align: middle;
}

/*main-content*/
.fa-code::before {

    color: white;
}

.main-content {
    flex-grow: 1;
    overflow: auto;
}

.fa-code {
    padding: 6px 5px;
    margin-right: 10px;
}

.bg-code {
    background-color: #F26551;

}

tbody td {
    text-align: center;
}

.dropdown-toggle::after {
    display: none;

}

.fa-pen,
.fa-trash {
    border-color: gray;
    color: gray;
    border-radius: 20%;

}

.dropdown-menu[data-bs-popper] {
    top: 100%;
    left: -130px;
    margin-top: var(--bs-dropdown-spacer);
}

.bg-bell-btn {
    color: white;
}


@media screen and (min-width:992px) {
    .sidebar {
        flex-basis: 150px;
    }

}