/*header*/
header {
    height: 80px;
    background-color: white;
}

#small-logo {
    width: 50px;
}

.bg-gray {
    background-color: #E5E5E5;
}

.fa-bell {
    color: #FF8F00;
}

/*MAIN*/
main {
    height: calc(100vh - 80px)
}

/*sidebar*/
.sidebar {
    background-image: url(/img/sidebar-bg.png);
    background-size: cover;
    background-color: #051E34;
    flex-basis: 100px;
    flex-shrink: 0;
    padding: 20px 0;
}

.bg-pils-boolean {
    background-color: #165BBA;
}

.fa-square-plus {
    vertical-align: middle;
}

/*main-content*/
.fa-code::before {
    position: relative;
    top: 6px;
    left: 5px;
    color: white;
}

.main-content {
    flex-grow: 1;
    overflow: auto;
}

.fa-code {
    width: 30px;
    height: 30px;
}

.bg-code {
    background-color: #F26551;

}

tbody td {
    text-align: center;
}